/*reset css_start*/

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*reset css_fin*/

/*ヘッダー画像*/
.headline{
	background-image:url("image/yellow_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height:527px
}
.headline_text{
	font-size:90px;
	float:right;
	width: 869px;
	height: 113px;
	font-style:YuGothic;
    margin-top:100px;
	padding:100px;
	font-weight:bold;
	color: #ffff;
	opacity:0.7;
}

/*本文：上部*/
.body_top{
	margin: 100px;
}
.introduction{
	font-style: YuGothic;
	font-size:35px;
	font-weight: bold ;
	margin-bottom: 30px;
	width: 251px;
	height: 52px;
	letter-spacing: 20px;

}
.main_text{
	font-size: 25px;
	font-style: YuGothic;
	width:1170px;
	height: 87px;
}
.button {
	padding: 10px;
	background-color: #1044B7;
	border-radius: 10px;
	color:#ffff;
	font-size: 30px;
	margin-top:30px;
	width: 227px;
	height: 67px;
	box-shadow: 7px 7px #000000;

}
.button:hover {
	background-color: red; 
}

/*本文：下部*/
.body_bottom{
	display: flex;
	justify-content: space-between;
	margin:0px 100px 100px 100px;
}
img.picture1{
	width:356px;
	height: 291px;
}
img.picture2{
	width:356px;
	height: 291px;
}
img.picture3{
	width:356px;
	height: 291px;
}
